<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sign Up Form</title>
<link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
<link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="styles/weather.css">
</head>

<body>
  <div class="wrapper">
    <div class="weather">
      <div class="city">
        <h1>Toronto, On, Canada</h1>
      </div>
      <div class="clearfix"></div>
  
  
      <div class="temp">
        <div class="current">
          18&deg;
        </div>
        <div class="high">
          High: 20&deg;
        </div>
        <div class="low">
          Low: 5&deg;
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="left"><i></i></div>
      <div class="date">
        <p>06/21/2013</p>
      </div>
      <div class="right"><i></i></div> <br>
      <form action="/cityData" id="form" class="form" method="POST">
        <!-- <select name="country" class="form-select">
          <option value="" data-display="Select">Country</option>
          <option value="education">Education</option>
          <option value="charity">Charity</option>
          <option value="recreational">Recreational</option>
          <option value="relaxation">Relaxation</option>
          <option value="busywork">Busywork</option>
          <option value="social">Social</option>
          <option value="diy">DIY</option>
          <option value="music">Music</option>
        </select> -->
        <select name="city" class="form-select">
          <option value="cairo">cairo</option>
          <option value="lagos">Lagos</option>
          <option value="london">london</option>
          <option value="Delhi">Delhi</option>
          <option value="paris">paris</option>
        </select>
        <button type="submit" class="form-submit">Go</button>
      </form>

    </div>
    
  </div> <!-- weather -->
  </div> <!-- wrapper -->

  


</body>

</html>